In [1]:
# single 
# multiple 
# multilevel 
# hybride 
# herarical

# single inheritance

In [27]:
class Parent:
    father_name = " hari ram "
    mother_name = " meena devi"
    add = " jaipur"
    def intro(self):
        print(f"my father name is :-{self.father_name}")
        print(f"my mother name is :-{self.mother_name}")
        print(f"and i am from {self.add}")

class child(Parent):
    
    my_name = "Rohit"
    

x= child()
print(x.father_name)
print(x.mother_name)
x.intro()
x.my_name

 hari ram
 meena devi
my father name is :- hari ram
my mother name is :- meena devi
and i am from  jaipur

'Rohit'

### Multiple inheritance

In [18]:
class grandfather:
   def grand():
       pass
   grandfather_name = " narayan ji "
class father:
    def f_father():
        pass
    father_name = "hari ram "
class child(grandfather,father):
    def c_child():
        pass
    my_name = " Rohit"
xx=child()
xx.father_name
xx.grandfather_name
xx.my_name

' Rohit'

# Multilevel  inheritance

In [ ]:
class grandfather:
    
    pass
class father(grandfather):
    pass

class child(father):
    pass

In [ ]:
class grandfather:
    
    pass
class father(grandfather):
    pass

class child(grandfather):

    pass

## Polymorphism

In [32]:
aa = [ 1,5,2,5,2]
# len(a)

In [33]:
a = ( 4,5,5,5,3,6,6)
len(a)

7

In [34]:
print(a)

(4, 5, 5, 5, 3, 6, 6)

In [35]:
print(aa)

[1, 5, 2, 5, 2]

In [36]:
name = " Ravi gupta "
print(name)

 Ravi gupta

In [37]:
len(name)

12